.login-section {
  background-color: var(--light-gray);
  padding: 4rem 1rem;
  text-align: center;
  height: 300px;
  border-radius: 3px;
  margin-top: 10rem;
}
.login-section h2 {
  font-size: 2.5rem;
}
.login-section p {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.login-section button {
  display: block;

  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 2rem;
}

.login-section button:hover {
  background-color: var(--violet);
  color: white;
}
.login-section h1 {
  display: inline-block;
  background-color: var(--violet);
  padding: 1rem;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.login-section h1 img {
  width: 30px;
}
